<h3 class="text-danger mb20">Lista de livros</h3>

<div class="row">
  <div class="col-sm-12 mb20">
    <input class="form-control" [(ngModel)]="searchLivros" name="buscar" placeholder="Buscar Livros" />
  </div>
</div>
<div class="col-sm-12" *ngIf="(listaLivros | filter:searchLivros).length !== 0">
  <p class="text-success">Total de livros cadastrados <strong>{{listaLivros.length | filter:searchLivros}}</strong></p>
</div>

<div class="row">
  <div class="col-sm-4 mb20" *ngFor="let livro of listaLivros | filter:searchLivros">
    <div class="card shadow-sm" [ngClass]="{backgroundCard: livro.status === status}">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">{{livro?.id | uppercase}}</h4>

      </div>
      <div class="card-body text-center">
        <h1 class="card-title pricing-card-title"><img src="{{livro.imgPath}}" width="150" height="200" alt=""></h1>
        <ul class="list-unstyled">
          <li class="text-danger">{{livro.desconto}} de desconto</li>
          <li class="text-success">{{livro?.name}}</li>
          <li>{{livro?.infoProduto}}</li>
        </ul>
        <button [routerLink]="['/livros', livro.id]" [disabled]="livro.status === status " class="btn btn-lg btn-block btn-outline-primary">Veja Mais</button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="(listaLivros | filter:searchLivros).length === 0">
  <div class="col-sm-12">
    <p class="text-danger">Nehum resultado encontrado</p>
  </div>
</div>
