.box {
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ededed;

     .place-info-box-text {
        color: #222222;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 15px 0 10px 15px;
        display: inline-block;
    }

     .place-info-box-star {
        color:rebeccapurple;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    .place-info-box-detail {
        color: #222222;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 0px 0 10px 15px;
        display: block;
    }

    .img {
        img {
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            width: 100%;
        }
    }
}