<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{detail?.name}}</h1>
  teste
<!--  <p class="lead">{{detail?.html_url}} <br /> <strong class="text-danger">Tipo de Usuario: {{detail?.type}}</strong></p>
  <p>{{detail?.description}}</p>
  <p><strong>Dada de criação do GIT: </strong>{{detail?.created_at | date}}<strong class="text-primary"> Repositório: </strong><strong class="text-danger">{{detail?.public_repos}}</strong></p>
  <p><strong>Dada da ultima Atulização do GIT: </strong>{{detail?.updated_at | date: 'dd/mm/yyyy'}}</p>
  -->
</div>
