<div class="wr-site">
  <div class="pg pg-home">
      <header class="header">
          <div class="ct">
              <h1><img src="assets/img/logo.png" /></h1>
              <div class="menu">
                  <ul>
                      <li>
                          <a href="#">Home</a>
                      </li>
                      <li>
                          <a href="#">Sobre</a>
                      </li>
                      <li>
                          <a href="#">Link 1</a>
                      </li>
                      <li>
                          <a href="#">Contato</a>
                      </li>
                  </ul>
              </div>
          </div>

      </header>
      <div class="wr-main-carrocel">
          <div class="ct">
              <div class="slide">
                  <img src="assets/img/banner.png" />
              </div>
          </div>
      </div>
      <section class="content">
          <div class="ct">
              <div class="vitrine">
                  <ul>
                      <li class="vermelho">
                          <div class="selo-desconto">
                              <p><strong>5% de desconto </strong></p>
                          </div>
                          <div class="logo-parceiro">
                              <img src="assets/img/img-box.png" alt="">
                          </div>
                          <div class="descricao">
                              <h4>Avon Store</h4>
                              <p>5% de desconto através do hotsite da parceria. Não cumulativo com outras
                                  promoções.
                                  <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank"></a></p>
                          </div>
                          <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank">
                              <button class="btn-resgatar" type="button">Ver mais</button>
                          </a>
                      </li>

                      <li class="vermelho">
                          <div class="selo-desconto">
                              <p><strong>5% de desconto </strong></p>
                          </div>
                          <div class="logo-parceiro">
                              <img src="assets/img/img-box.png" alt="">
                          </div>
                          <div class="descricao">
                              <h4>Avon Store</h4>
                              <p>5% de desconto através do hotsite da parceria. Não cumulativo com outras
                                  promoções.
                                  <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank"></a></p>
                          </div>
                          <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank">
                              <button class="btn-resgatar" type="button">Ver mais</button>
                          </a>
                      </li>

                      <li class="vermelho">
                          <div class="selo-desconto">
                              <p><strong>5% de desconto </strong></p>
                          </div>
                          <div class="logo-parceiro">
                              <img src="assets/img/img-box.png" alt="">
                          </div>
                          <div class="descricao">
                              <h4>Avon Store</h4>
                              <p>5% de desconto através do hotsite da parceria. Não cumulativo com outras
                                  promoções.
                                  <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank"></a></p>
                          </div>
                          <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank">
                              <button class="btn-resgatar" type="button">Ver mais</button>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <aside class="sidebar">
              <div class="ct">
                  <div class="rootBanner">
                    d
                  </div>
              </div>
          </aside>

          <footer>
              <div class="ct">
                  <div class="containerFooter">
                      <div class="menuFooter">
                          <ul>
                              <li>
                                  <a href="#">Link 1</a>
                              </li>
                              <li>
                                  <a href="#">Link 2</a>
                              </li>
                              <li>
                                  <a href="#">Link 3</a>
                              </li>
                              <li>
                                  <a href="#">Link 4</a>
                              </li>
                          </ul>
                      </div>
                      <div class="corpinfo">
                          <strong>copyright info</strong>
                      </div>
                  </div>
              </div>
          </footer>
      </section>
  </div>
</div>
