<ul>
  <li class="vermelho" *ngFor="let listVitrine of array">
      <div class="selo-desconto">
          <p><strong>{{listVitrine.name}}dfdf </strong></p>
      </div>
      <div class="logo-parceiro">
          <img src="{{listVitrine.imgPath}}" alt="">
      </div>
      <div class="descricao">
          <h4>{{listVitrine.desconto}}</h4>
          <p>{{listVitrine.description}}
            </p>
      </div>
      <a href="#">
          <button class="btn-resgatar" type="button">Ver mais</button>
      </a>
    </li>
</ul>
