<div class="rootBanner">
  <!--<img src="https://placehold.it/932x102" alt="">-->
  <div class="novidades">
    <div class="row">
      <h1>RECEBA NOVIDADES E LANÇAMENTOS </h1>
      <form [formGroup]="formNews" class="col-sm-12">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" formControlName="nome" appValidation showSuccess="true" class="form-control" placeholder="Digite seu nome" />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" formControlName="email" appValidation showSuccess="true" class="form-control" placeholder="Digite seu email" />
        </div>

        <div class="buttons">
            <button class="btn btn-primary" (click)="sendNews()" [disabled]="!formNews.valid">Enviar</button>
            <a [routerLink]="['/listEmail']">
              Todos emails cadastrados
            </a>
          </div>
      </form>
    </div>
  </div>
  <div class="textSide">
    <h1><i>😉</i>loren ipun</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur aperiam distinctio minus deserunt nihil culpa in dolore! </p>
  </div>
</div>
