<div class="vitrine">
  <ul>
      <li class="vermelho">
          <div class="selo-desconto">
              <p><strong>5% de desconto </strong></p>
          </div>
          <div class="logo-parceiro">
              <img src="assets/img/img-box.png" alt="">
          </div>
          <div class="descricao">
              <h4>Avon Store</h4>
              <p>5% de desconto através do hotsite da parceria. Não cumulativo com outras
                  promoções.
                  <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank"></a></p>
          </div>
          <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank">
              <button class="btn-resgatar" type="button">Ver mais</button>
          </a>
      </li>

      <li class="vermelho">
          <div class="selo-desconto">
              <p><strong>5% de desconto </strong></p>
          </div>
          <div class="logo-parceiro">
              <img src="assets/img/img-box.png" alt="">
          </div>
          <div class="descricao">
              <h4>Avon Store</h4>
              <p>5% de desconto através do hotsite da parceria. Não cumulativo com outras
                  promoções.
                  <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank"></a></p>
          </div>
          <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank">
              <button class="btn-resgatar" type="button">Ver mais</button>
          </a>
      </li>

      <li class="vermelho">
          <div class="selo-desconto">
              <p><strong>5% de desconto </strong></p>
          </div>
          <div class="logo-parceiro">
              <img src="assets/img/img-box.png" alt="">
          </div>
          <div class="descricao">
              <h4>Avon Store</h4>
              <p>5% de desconto através do hotsite da parceria. Não cumulativo com outras
                  promoções.
                  <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank"></a></p>
          </div>
          <a href="DetalheParceiro.aspx?idParceiro=501" target="_blank">
              <button class="btn-resgatar" type="button">Ver mais</button>
          </a>
      </li>
  </ul>
</div>
