    <h2>Tarefas</h2>
    <table class="table">
      <thead>
        <tr>
          <th width="800">Tarefa</th>
          <th width="100">Concluida</th>
          <th>
            <a 
                class="btn btn-success"
                [routerLink]="['/tarefas/cadastrar']">
              Novo
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas">
          <td [class.success]="!tarefa.concluida"> {{ tarefa.nome }} </td>
          <td class="text-center">
            <input 
                  type="checkbox" 
                  [value]="tarefa.id"
                  [checked]="tarefa.concluida">
          </td>
          <td>
              <a class="btn btn-info">Novo</a>
              <a class="btn btn-danger">Editar</a>
          </td>
        </tr>      
      </tbody>
    </table>

    <div>
      <p class="text-danger" *ngIf="tarefas.length == 0">Nenhuma tarefa cadastrada.</p>
    </div>
  