<div class="pg pg-contact">
  <div class="containerHeader">
    <app-header></app-header>
  </div>

  <section class="content containerLayout">
    <div class="ct">
      <div class="col-sm-12">
        <form [formGroup]="formContact">
          <div class="form-group">
            <label for="email" class="text-info">Nome:</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="pwd" class="text-info">Telefone:</label>
            <input type="text" class="form-control" formControlName="phone">
          </div>
          <div class="form-group">
            <label for="pwd" class="text-info">Email:</label>
            <input type="email" class="form-control" formControlName="email">
            <span>
              {{email.errors | json}}
            </span>
          </div>
          <div class="form-group">
            <label for="pwd" class="text-info">Idade:</label>
            <input type="text" class="form-control" formControlName="idade">
          </div>
          <button type="button" class="btn btn-primary" (click)="sendForm()"
            [disabled]="!formContact.valid">Enviar</button>
        </form>
      </div>
    </div>
    <!--
    <div class="row" *ngFor="let item of contacts">
      {{item.nome}}
    </div>
-->
    <div class="row">
      <div class="ct">
        <div class="form-group">
          <a href="#">ver todos os contatos</a>
        </div>
      </div>
    </div>

    <aside class="sidebar">
      <app-sidebar></app-sidebar>
    </aside>

    <div class="containerFooter">
      <app-footer></app-footer>
    </div>
  </section>
</div>
