<div class="pg pg-contact">

  <div class="containerHeader">
    <app-header></app-header>
  </div>

  <section class="content containerLayout">
    <div class="ct">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="email">Nome:</label>
          <input type="text" class="form-control" id="nome">
        </div>
        <div class="form-group">
          <label class="sr-only" for="pwd">Telefone:</label>
          <input type="text" class="form-control" id="telefone">
        </div>
        <div class="form-group">
          <label class="sr-only" for="pwd">Email:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
      </form>
    </div>

    <aside class="sidebar">
      <app-sidebar></app-sidebar>
    </aside>

    <div class="containerFooter">
      <app-footer></app-footer>
    </div>
  </section>
</div>
