<div class="pg pg-contact">
  <div class="containerHeader">
    <app-header></app-header>
  </div>

  <section class="content containerLayout">
    <div class="ct">
      <div class="col-sm-12">
        <h1><span class="glyphicon glyphicon-envelope"></span>Contato</h1>
        <form [formGroup]="formContact">
          <div class="form-group">
            <label for="email" class="text-info">Nome:</label>
            <input type="text" appValidation showSuccess="true" class="form-control" formControlName="name">
          </div>
          <app-error-component [control]="name"></app-error-component>

          <div class="form-group">
            <label for="pwd" class="text-info">Telefone:</label>
            <input type="text" appValidation showSuccess="true" class="form-control" formControlName="phone">
          </div>
          <app-error-component [control]="phone"></app-error-component>

          <div class="form-group">
            <label for="pwd" class="text-info">Cpf:</label>
            <input type="text" appValidation showSuccess="true" class="form-control" formControlName="cpf">
          </div>
          <app-error-component [control]="cpf"></app-error-component>


          <div class="form-group">
            <label for="pwd" class="text-info">Email:</label>
            <input type="email" appValidation showSuccess="true" class="form-control" formControlName="email">
          </div>
          <app-error-component [control]="email"></app-error-component>

          <div class="form-group">
            <label for="pwd" class="text-info">Idade:</label>
            <input type="text" appValidation showSuccess="true" class="form-control" formControlName="idade">
          </div>
          <app-error-component [control]="idade"></app-error-component>

          <div class="form-group">
            <label for="pwd" class="text-info">Mensagem:</label>
            <textarea class="form-control" formControlName="mensagem"></textarea>
          </div>
          <app-error-component [control]="mensagem"></app-error-component>

          <button type="button" class="btn btn-primary" (click)="sendForm()"
            [disabled]="!formContact.valid">Enviar</button>
        </form>
      </div>
    </div>
    <!--
    <div class="row" *ngFor="let item of contacts">
      {{item.nome}}
    </div>
-->
    <div class="row">
      <div class="ct">
        <div class="linkContact">
          <a [routerLink]="['/listContact']">ver todos os contatos</a>
        </div>
      </div>
    </div>

  </section>
</div>
