.pg-contact {
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #288fcb;
  }
  .content {
    .row {
      .linkContact {
        a {
          margin: 17px;
          display: block;
          font-size: 16px;
          text-transform: uppercase;
          color: #ca3737;
        }
      }
    }
  }
}
