<h4>Alteração de Reservas</h4>
<form [formGroup]="formAltearReserva">
  <div class="form-group">
    <label class="text-info">Nome:</label>
    <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome do livro">
  </div>

  <div class="form-group">
    <label class="text-info">Nome do livro:</label>
    <input type="text" class="form-control" formControlName="nomelivro" placeholder="Digite seu nome">
  </div>

  <div class="form-group">
    <label class="text-info">Email:</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Digite seu Email">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-info">
      alterar reservas
    </button>
  </div>
</form>

{{reservasid | json}}

