<section class="content-header adapterContainer">
  <h1>
    Faq
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum a
        laudantium sit labore tenetur iste. Non sequi corrupti harum ducimus
        hic iure reprehenderit
        accusantium a, quod consequatur totam magni delectus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum a
        laudantium sit labore tenetur iste. Non sequi corrupti harum ducimus
        hic iure reprehenderit
        accusantium a, quod consequatur totam magni delectus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum a
        laudantium sit labore tenetur iste. Non sequi corrupti harum ducimus
        hic iure reprehenderit
        accusantium a, quod consequatur totam magni delectus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum a
        laudantium sit labore tenetur iste. Non sequi corrupti harum ducimus
        hic iure reprehenderit
        accusantium a, quod consequatur totam magni delectus.
      </div>
    </div>
  </div>
</section>
