<div class="pg-home container">
  <div class="panel-group">
    <div class="col-sm-3">
      <div class="panel panel-primary">
          <div class="panel-heading">Lista de tarefas</div>
          <div class="panel-body text-center">
           <a href="/tarefas/listar">
              <i class="glyphicon glyphicon-file size text-danger"></i>
           </a>
          </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Cadastro de usuário</div>
            <div class="panel-body text-center">
             <a href="/tarefas/cadastrar">
                <i class="glyphicon glyphicon-user size text-success"></i>
             </a>
            </div>
          </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Telefones</div>
            <div class="panel-body text-center">
             <a href="/tarefas/lista-telefones">
                <i class="glyphicon glyphicon-phone-alt size text-primary"></i>
             </a>
            </div>
          </div>
      </div>



  </div>
</div>