<div class="pg-listContact">
  <div class="containerHeader">
    <app-header></app-header>
  </div>
  <div class="content containerLayout">
    <div class="container">
      <div class="row flex-direction">
        <div>
          <h1>Lista de contatos</h1>
        </div>

        <div class="form-group">
          <input class="form-control" [(ngModel)]="searchContact" type="text" name="search" autocomplete="off"
            placeholder="Buscar todos os contatos">
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>nome</th>
              <th>Telefone</th>
              <th>Email</th>
              <th>Cpf</th>
              <th>Idade</th>
              <th>Mensagem</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of listaContact | filter:searchContact">
              <td>{{contact?.nome}}</td>
              <td>{{contact?.telefone}}</td>
              <td>{{contact?.email}}</td>
              <td>{{contact?.cpf}}</td>
              <td>{{contact?.idade}}</td>
              <td>{{contact?.mensagem}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="(listaContact | filter:searchContact).length === 0">
          <span class="text-danger">Nehum resultado encontrado</span>
        </div>
      </div>
    </div>

  </div>
