<div class="pg pg-detalhes">

  <div class="containerHeader">
    <app-header></app-header>
  </div>

  <section class="content containerLayout">
    <div class="ct">
      <div class="detalhes">
        <h1>{{card?.name}}</h1>
        <picture>
          <img src="{{card.imgPathGreat}}" alt="{{card?.name}}">
        </picture>

        <p>
          {{card?.description}}
        </p>

        <p>
          <strong>Detalhe do produto: </strong>
          {{card?.infoProduto}}
        </p>

        <p>
          <strong>Informações do Produto: </strong>
          {{card?.mensagemProduto}}
        </p>

        <section class="depoimentos">
          <h1>Depoimentos</h1>
          <article class="postDepoimento">
            <h2>Fernando </h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem harum totam voluptatem, neque amet odio
              voluptates laborum, officia deserunt optio ullam porro! A, laudantium? Dicta velit minus aperiam quam
              nobis!</p>
          </article>

          <article class="postDepoimento">
            <h2>Cris </h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem harum totam voluptatem, neque amet odio
              voluptates laborum, officia deserunt optio ullam porro! A, laudantium? Dicta velit minus aperiam quam
              nobis!</p>
          </article>

        </section>


      </div>
    </div>
  </section>
</div>
