<div class="pg pg-detalhes">

  <div class="containerHeader">
    <app-header></app-header>
  </div>

  <section class="content containerLayout">
    <div class="ct">
      <div class="detalhes">
        <h1>{{card?.name}}</h1>
        <picture>
          <img src="{{card.imgPathGreat}}" alt="{{card?.name}}">
        </picture>

        <p>
          {{card?.description}}
        </p>

        <p>
          <strong>Detalhe do produto: </strong>
          {{card?.infoProduto}}
        </p>

        <p>
          <strong>Informações do Produto: </strong>
          {{card?.mensagemProduto}}
        </p>

        <!--
        <div class="links">
          <strong routerLinkActive="linkCustom">
            <a>Detalhe do produto:</a>
          </strong>
          <strong routerLinkActive="linkCustom">
            <a>Informações do Produto:</a>
          </strong>
        </div>
        -->

        <div class="row">
          <div class="detalhesInfo">
            <strong>Detalhe do produto:</strong>
            <app-informacao-produto [card]="card"></app-informacao-produto>
          </div>

          <div class="detalhesInfo">
            <strong>Informações do Produto:</strong>
            <app-detalhe-produto [card]="card"></app-detalhe-produto>
          </div>
        </div>

        <section class="depoimentos">
          <h1>Depoimentos</h1>
          <article class="postDepoimento">
            <h2>Fernando </h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem harum totam voluptatem, neque amet odio
              voluptates laborum, officia deserunt optio ullam porro! A, laudantium? Dicta velit minus aperiam quam
              nobis!</p>
          </article>

          <article class="postDepoimento">
            <h2>Cris </h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem harum totam voluptatem, neque amet odio
              voluptates laborum, officia deserunt optio ullam porro! A, laudantium? Dicta velit minus aperiam quam
              nobis!</p>
          </article>
        </section>

      </div>
    </div>
  </section>
</div>
