//VARIABLES
$mainColor: #000000;

$imgPath:"../img";

//tabelas
$bp-maggie: 15em;
$bp-lisa: 30em;
$bp-bart: 48em;
$bp-marge: 62em;
$bp-homer: 75em;


//media query
//tablet
$mq_tablet_min: 320px;
$mq_tablet_max: 768px;

//mobile
$mq_mobile_min: 320px;
$mq_mobile_max: 480px;
