/* You can add global styles to this file, and also import other style files */
.active {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  a {
    color:#ca3737 !important;
  }
}

.wr-site {
  .ct {
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    width: 100%;
  }
}

.containerLayout {
  float: left;
  width: 100%;
  margin-top: 120px;
}
