<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit,
        hic alias eius soluta quis molestiae enim reprehenderit harum aliquid nihil neque consequatur, libero, facere
        nisi sint mollitia maiores asperiores.
      </p>
    </div>
  </div>

  <div class="row mb20">
    <div class="col-sm-12">
      <input type="text" class="form-control" [(ngModel)]="searchPeople" placeholder="Digite o nome da pessoa">
    </div>
  </div>


  <div class="text-success" *ngIf="(listaReservas | filter:searchPeople).length >= 1">
    <p>Total de pessoas cadastradas <strong>{{listaReservas.length}} </strong></p>
  </div>


  <div class="text-danger" *ngIf="(listaReservas | filter:searchPeople).length === 0">
    <p>Nehum resultado encontrado</p>
  </div>

  <div class="row">
    <div class="col-sm-12 scrollHiden">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Nome do Livro</th>
            <th>Email</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of listaReservas | filter:searchPeople">
            <td>{{reserva.nome}}</td>
            <td class="text-success">{{reserva.nomelivro}}</td>
            <td>{{reserva.email}}</td>
            <td><a class="btn btn-warning" [routerLink]="['/reservas', reserva.id]">Alterar</a></td>
            <td><button class="btn btn-danger" (click)="delete(reserva.id)">Remover</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
