<div class="pg pg-home">

  <div class="containerHeader">
    <app-header></app-header>
  </div>

  <div class="containerCarrocel">
    <app-carrocel></app-carrocel>
  </div>

  <section class="content">
    <div class="ct">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam enim et excepturi, dicta quod quisquam. Libero mollitia eaque, in tempora sint corrupti natus eius? Eaque iusto dicta consectetur sit accusamus.
    </div>


    <app-footer></app-footer>
  </section>
</div>
