* {
  font-family: Arial, Helvetica, sans-serif;
}

.about {
  h2 {
    font-weight: bold;
    padding: 20px 0 20px 0;
  }

  p {
    line-height: 21px;
  }

  span {
    color: #cccccc;
    padding-bottom: 10px;
    display: inline-block;
  }
}
